PORT=3000
LOCAL_ADDRESS=0.0.0.0

TMP_FILE_DIR=/home/neil/apps/rust/tmp-files
SPREADSHEET_SUBDIR=spreadsheets
DELETE_TMP_FILES_AFTER_SECONDS=3600
MAX_UPLOAD_SIZE=50M
MAX_OUTPUT_ROWS=1000

MONGO_NAME=spread_datasets
MONGO_URI=mongodb://username:password@localhost:27017

MONGO_CONNECTION_TIMEOUT=6000
MONGO_CONNECTION_POOL_SIZE=10
MONGO_MIN_POOL_SIZE=2
MONGO_MAX_POOL_SIZE=128

MAX_PREVIEW_LIMIT=10000
MAX_LIMIT=10000
DEFAULT_LIMIT=1000
DEFAULT_PREVIEW_LIMIT=25
MAX_PREVIEW_LIMIT=200

